@import "~bootstrap/scss/bootstrap";

.container {
    width:500px;
}

.threePanel {
    border: 3px solid #aeb6be;
    border-radius: 10px;
    padding: 15px;
}

.formContainer{
    margin-bottom: 15px;
}